<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>
<% if current_user.admin? %>
<div>
  <h4>Merge articles</h4>
  <% form_tag :action => "merge", :id => @article.id do  %>
    Article ID <%= text_field_tag "article_id" %>
    <%= submit_tag "Merge" %>
  <% end %>
</div>
<% end %>